.navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keep navbar fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar a {
    color: white; /* Link color */
    text-decoration: none; /* No underline */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  .navbar a.active {
    border-bottom: 2px solid #ff385c; /* Active link color */
    padding-bottom: 0.5rem; /* Space for the border */
  }
  
  /* Hover effect */
  .navbar a:hover {
    color: #ff385c; /* Change color on hover */
  }
  